* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html {
    background: #377bbc;
    height: 100%;
    min-width: 300px;
    margin: 0px auto;
}
.app{
    background: #ffffff;
    width: 90%;
    max-width: 1500px;
    margin: 0px auto 0;
    padding-right: 30px;
    padding-left: 30px;
}
.timerbar{
    background: #ffffff;
    width: 90%;
    max-width: 1500px;
    margin: 5vw auto 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 30px;
    padding-right: 5px;
}
.progressbar{
    width: 90%;
    max-width: 1500px;
    height: 15px;
    margin: 0px auto 0;
    background: rgb(218, 215, 215);
}
.timerbar p {
    color: #3D7EDB;
    float: right;
    font-size: 30px;
}
/* .app h1{
    font-size: 10px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 30px;
} */
.quiz{
    /* padding: 20px 0 20px; */
    display: flex;
    flex-direction: row;
}
.app h2{
    padding: 20px 0 0px;
    font-size: 1.6vw;
    color: #001f52;
    font-weight: 600;
    overflow: hidden;
}
.btn{
    background-color: #3D7EDB;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    min-height: 100px;
    border: 1px solid #222222;
    padding: 10px;
    margin: 8px 0;
    font-size: 1.2vw;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
}
.image{
    border-radius: 8px;
    border: 1px solid #222222;
}
.bottombar{
    width: 100%;
    max-width: 1500px;
    height: 5px;
    margin: 0px auto 0;
    background: rgb(218, 215, 215);
}
.buttonbar{
    background: #ffffff;
    width: 90%;
    max-width: 1500px;
    min-height: 60px;
    margin: 0px auto 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.btn:hover{
    background: #2561B7;
    color: #ffffff
}
#antwoord-buttons{
    margin-top: 20px;
    width: 100%;
}
/* .antwoord-buttonsimg{
    margin-top: 20px;
    width: 100%;
} */
.imagestyle{
    flex: 1;
    display: flex;
    padding-left: 50px;
    /* margin-top: 32px; */
    align-items: center;
    justify-content: center;
}
#imagediv img{
    /* float: right; */
    width: 250px;
    height: 250px;
}
.volgende{
    float: right;
    width: 33%;
}
.vorige{
    float: left;
    width: 33%;
}
#volgende-btn{
    background: #3D7EDB;
    color: #fff;
    font-weight: 500;
    float: right;
    max-width: 150px;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #222222;
    margin: 9px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
#volgende-btn:hover:not([disabled]){
    background: #ffffff;
    color: #3D7EDB;
}
#vorige-btn{
    background: #3D7EDB;
    color: #ffffff;
    font-weight: 500;
    float: left;
    max-width: 150px;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #222222;
    margin: 9px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
#vorige-btn:hover:not([disabled]){
    background: #ffffff;
    color: #3D7EDB;
}
.vraagnummer{
    float: right;
    text-align: center;
    width: 34%;
}
.vraagnummer h1{
    font-size: 25px;
    margin: 12px auto 0;
    color: #001e4d;
}
.toplogo{
    margin: auto;
    min-width: 400px;
    padding-top: 1%;
    width: 25%;
}
/* img{
    width: 100%;
    height: 100%;
} */
.nav-bar{
    height: 110px;
    background: #377bbc;
    margin: 0 auto 0;
    border-bottom: 3px solid #ffffff;
}
.logodiv{
    width: 100px;
    height: 100px;
    float: left;
}
.logodiv img{
    width: 100px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #377bbc;
}
li {
    float: left;
    display: block;
    height: 107px;
    padding: 43px 25px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: box-shadow .2s;
}
li:hover:not([disabled]){
    background: #2561B7;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(33, 33, 33, .2);
}
.container {
    margin: 0 5vw;
    height: 100%;
}
@media screen and (max-width: 1350px){
    .app h2{
        font-size: 21.5px;
    }
    .btn, .btnimg{
        font-size: 16px;
    }
}
@media screen and (max-width: 750px){
    /* #vorige-btn{
        width: 125px;
    }
    #volgende-btn{
        width: 125px;
    } */
    .quiz{
        flex-direction: column-reverse;
    }
    .imagestyle{
        margin-top: 20px;
        padding-left: 0px;
    }
}
@media screen and (max-width: 425px){
    .toplogo{
        min-width: 300px;
    }
    .app h2{
        font-size: 18.5px;
    }
    .btn, .btnimg{
        font-size: 13px;
    }
    #vorige-btn{
        font-size: 12px;
    }
    #volgende-btn{
        font-size: 12px;
    }
    #imagediv img{
        /* float: right; */
        width: 180px;
        height: 180px;
    }
}
@media screen and (max-width: 300px) {
    .btn {
        width: 183px;
    }
}